<nav class='navbar navbar-expand-lg navbar-light'>
    <div class='container'>
        <a class='navbar-brand' href='/'><%= author.firstName %>'s Portfolio</a>
        <span class='navbar-text'>
            <a href='/contact' class='my-2 my-sm-2 px-4'>Contact</a>
        </span>
    </div>
</nav>