<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Contact Me!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <%- include('partials/header') %>
    <div class='container'>
        <form class='card bg-light mt-2' action='/thanks' method='POST'>
            <% if (noMail) { %>
            <h2> Sorry, something went wrong so you won't be able to send me an email via this form </h2>
            <% } %>
            <div class='card-header'>Use this form to send me an email with your contact info</div>
            <div class='card-body'>
                <div class='card-text'>
                    <label class='control-label' for='firstName'>First Name:</label>
                    <input class='form-control' id='firstName' name='firstName' type='text'>

                    <label class='control-label' for='lastName'>Last Name:</label>
                    <input class='form-control' id='lastName' name='lastName' type='text'>

                    <label class='control-label' for='email'>Email Address:</label>
                    <input class='form-control' id='email' name='email' type='text'>
                </div>
            </div>
            <div class='card-footer'>
                <button id='form-submit' class='btn btn-success btn-block' type='submit'>Submit</button>
            </div>
        </form>
    </div>
</body>

</html>