<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title><%= person.firstName %>'s Portfolio</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <div class='container'>
            <a class='navbar-brand' href='/'><%= person.firstName %>'s Portfolio</a>
            <span class='navbar-text'>
                <a href='/contact' class='my-2 my-sm-2 px-4'>Contact</a>
            </span>
        </div>
    </nav>
    <div class='container'>
        <div class='card bg-light mt-2'>
            <div class='card-header'>
                Short Bio:
            </div>
            <div class='card-body'>
                <div class='card-text'>
                    <p>Hello, my name is <%= person.firstName %> <%= person.lastName %>. I'm a novice software engineer
                        who's currently working her way through <a href='https://www.sdcs.io/'>San Diego Code
                            School</a>.
                    </p>
                    <p>I graduated from California State University San Marcos in 2018 with a bachelor's degree in
                        computer science, and I've been coding since some time in ~2011.</p>
                    <p>Below you'll find some of the projects I've worked on here, but the rest can be found on my <a
                            href='https://github.com/Z4rkal'>Github</a>.</p>
                    <p>If you'd like to get in touch, there's a link to a contact form in the upper right.</p>
                </div>
            </div>
        </div>
        <div class='card bg-light mt-2'>
            <div class='card-header'>
                My Projects:
            </div>
            <div class='card-body'>
            </div>
        </div>
    </div>
</body>

</html>