<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Thanks for Contacting Me!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <%- include('partials/header') %>
    <div class='container'>
        <div class='card mt-2'>
            <div class='card-body'>
                <div class='card-text'>
                    Thanks <%= contact.firstName %>, I'll try to get back to you as soon as I am able!
                </div>
            </div>
            <div class='card-footer'>
                <form action='/' method='GET'>
                    <button class='btn btn-success btn-block' type='submit'>Return to Homepage</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>